body {
  font: 150%/1.6 "Open Sans", sans-serif;
  font-weight: 400;
  background: linear-gradient(white, #0f1029 20%);
  padding: 30px;
}

#container {
  background: #eee;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  border-radius: 5px;
}

#title {
  text-align: center;
  font-weight: 300;
  font-size: 3em;
}

#image-main {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 5vw;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.module {
  margin: 2%;
  overflow: hidden;
  width: 20vw;
  height: 20vw;
  margin-bottom: 1em;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 28em;
  height: 28em;
  padding: 1em;
  border-radius: 5px;
  overflow: hidden;
}

.modal-title {
  text-align: center;
}

.modal-image {
  display: block;
  width: 60%;
  height: auto;
  margin: auto;
}

.prev {
  position: absolute;
  top: 45%;
  left: 5%;
  cursor: pointer;
}

.next {
  position: absolute;
  top: 45%;
  right: 5%;
  cursor: pointer;
}

.exit {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.exit:hover {
  color: red;
}

.blackout {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
  top: 0;
  left: 0;
}

@media (max-width: 800px) {
  body {
    font: 125%/1.5 "Open Sans", sans-serif;
  }
  #title {
    font-size: 2.5em;
  }
  #container {
    padding: 15px;
    max-width: 85%;
  }
  .module {
    width: 34vw;
    height: 34vw;
  }
}
@media (max-width: 625px) {
  body {
    font: 100%/1 "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
  }
  #container {
    padding: 10px;
    max-width: 90%;
  }
  #title {
    font-size: 2em;
  }
 .module {
    width: 70vw;
    height: 70vw;
  }
  .modal {
    width: 80vw;
    height: 110vw;
  }
}

/* Animations for visible.js */

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}
